.selection-list {
    list-style: none;
    padding: 0;
    margin-top: 16px;
}

.selection-item {
    margin: 12px 0;
}

.game-links {
    color: #2f6354;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.game-links:hover {
    border-bottom-color: #414833;
}

.game-author {
    color: #479957;
}